$color_background: #c6f2f5;
$color_border: #5be3cb;

%text_containers {
	text-align: justify;
	padding-bottom: 10px;
	padding-top: 15px;
	border: 1px solid $color_border;
}

%table {
	padding: 5px;
	border: 1px solid black;
}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			#intro {
				text-align: justify;
				padding-top: 10px;
				padding-bottom: 20px;
				padding-left: 10px; padding-right: 10px;
				border-right: 2px solid #5be3cb;
				background-color: #5be3cb;
				margin-bottom:0;
				margin-top:0;
				
			}
			
			.col-3, .col-9 {
				@extend %text_containers;
				
				h2, li {
					font-weight: bold;
				}
			}
			
			h1 {
				@extend %text_containers;
				background-color: $color_background;
				margin-bottom:0;
				margin-top:0;				
			}
			
			a.btn {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			
			th, td {
				@extend %table;
			}
			
			th {
				@extend %table;
				text-align: center;
			}
			
			div p {
				font-size: 14px;
			}
			
			@media (min-width: 500px) {
                li::after {
                    content: ,India;
                }
            }

            <!-- @media (max-width: 499px) {
                body {
                    background-color: blue;
                }
            } -->
        </style>