$color_background: #c6f2f5;
$color_border: #5be3cb;

%text_containers {
	text-align: justify;
	padding-bottom: 10px;
	padding-top: 15px;
	border: 1px solid $color_border;
}

%table {
	padding: 5px;
	border: 1px solid black;
}

div.col-9 {
	h2, ul {
		font-weight: bold;
	}
}

#id1, #id2 {
	font-weight: bold;
	color: #32858c;
}

.col-3, .col-9 {
	@extend %text_containers;
}

h1 {
	@extend %text_containers;
	background-color: $color_background;
	margin-bottom:0;
	margin-top:0;				
}

a.btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn:hover {
	background-color: $color_background;
	color: black;
}

th, td {
	@extend %table;
}

th {
	@extend %table;
	text-align: center;
}

div p {
	font-size: 14px;
}

p::select {
	background-color: $color_background;
	color: black;
}